<h2 mat-dialog-title>Tisch: {{data.bestellung.tischNr}}
    <mat-form-field style="width:100%; margin-top:10px; font-size: 14px;">
        <mat-select placeholder="Bezahlung" (selectionChange)="setNewBezahler($event)"
            [disabled]="data.currentKellnerInfo.gesperrt" [(value)]="data.bestellung.zahler">
            <mat-option *ngFor="let debitor of data.debitoren" [value]="debitor.guid">{{debitor.name}}
            </mat-option>
        </mat-select>
        <mat-hint align="end">Ändern der Bezahlung</mat-hint>
    </mat-form-field>
</h2>
<mat-dialog-content class="mat-typography">
    <ng-container *ngIf="isBestellungReceived; else bestellungNotReceivedYet">
        <div style="margin-bottom: 10px;">

            <mat-list *ngIf="bestellungDetails && (bestellungDetails.nummer === data.bestellung.number)">
                <div mat-line *ngIf="bestellungDetails.kommentar" style="font-size: 12px; font-style: italic;">
                    {{(bestellungDetails.kommentar.length>40)? (bestellungDetails.kommentar | slice:0:40)+'..':(bestellungDetails.kommentar)}}
                </div>
                <div mat-line style="font-size: 12px;height: 30px">
                    <span style="float:left;">
                        Bestellt am
                    </span>
                    <span style="float:right;">{{bestellungDetails.bestellZeit | date: 'dd.MM.yyyy HH:mm'}} Uhr
                    </span>
                </div>
                <div mat-line style="font-size: 12px;height: 30px"
                    *ngIf="bestellungDetails.auslieferungsZeit!='0001-01-01T00:00:00'">
                    <span style="float:left;">Ausgeliefert am </span><span
                        style="float:right;">{{bestellungDetails.auslieferungsZeit | date: 'dd.MM.yyyy HH:mm'}}
                        Uhr </span>
                </div>

                <mat-list-item *ngFor="let gericht of bestellungDetails.bestellListe" style="height:42px;">
                    <div mat-line style="font-size: 14px;">
                        <span style="float:left;">
                            {{gericht.anzahl}}x {{gericht.name}}
                        </span>
                        <span style="float:right;">
                            {{gericht.preis * gericht.anzahl | currency:'EUR'}}
                        </span>

                    </div>
                    <p mat-line style="font-size: 10px; padding-left:20px;">
                        {{ (gericht.zusatzInfo.length>50)? (gericht.zusatzInfo | slice:0:50)+'..':(gericht.zusatzInfo)}}
                    </p>
                    <mat-divider></mat-divider>
                </mat-list-item>
                <mat-divider></mat-divider>

                <div mat-line style="font-size: 16px;height: 42px; padding: 0 16px;">
                    <span style="float:left;">Gesamtbetrag </span>
                    <span style="float:right;">{{bestellungDetails.betrag | currency:'EUR'}}</span>
                </div>
            </mat-list>

        </div>
    </ng-container>

    <ng-template #bestellungNotReceivedYet>
        <div style="height:350px;" fxLayout="row" fxLayoutAlign="center center">
            <mat-progress-spinner color="primary" mode="indeterminate">
            </mat-progress-spinner>
        </div>

    </ng-template>





</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-stroked-button mat-dialog-close="false" (click)="cancelDetailView()" color="accent">Schließen</button>
</mat-dialog-actions>