.green-color{
    color:green;
}

.red-color{
    color:red;
}

.frontpage-content{
    overflow: auto;
    padding:16px;
}

.waiter-section{
    padding-top:0px;
    padding-left:16px; padding-right:16px;
}

.mat-card-header {
    font-size:15px !important;
}

mat-card {
    padding: 4px !important;
    margin-bottom: 8px;
}

.background-oada{
    background-color: #B37C24 !important;
}