<div class="container" fxFlexFill *ngIf="currentKellnerInfo.lastBestellungen && currentDebitoren; else nothingHereYet">
    <button mat-fab *ngIf="currentKellnerInfo && !currentKellnerInfo.gesperrt" class="mat-fab-position" color="accent"
        [routerLink]="['/neue-Bestellung']">
        <mat-icon>playlist_add</mat-icon>
    </button>

    <div class="content" fxLayout="column" fxFlexFill>

        <div fxFlex="20" class="header">
            <div fxLayoutAlign="center center">
                <img src="assets/Logo.png" alt="OADA-Logo" height="110px" width="110px" style="margin-top:5px;">
            </div>

        </div>
        <div fxFlex="10" class="waiter-section" *ngIf="currentKellnerInfo">


                <div class="md-font" fxLayoutAlign="center center">
                {{currentKellnerInfo.name}}
            </div>
            <div fxLayoutAlign="center center" class="bold-font-normal">
                Umsatz:&nbsp;<span
                    style="font:100; color:#057D23">{{currentKellnerInfo.umsatz | number : '1.2-2'}}€</span>&nbsp;&nbsp;Abzuliefern:&nbsp;<span
                    style="font:bold;color:#C72000"> {{currentKellnerInfo.offen | number : '1.2-2'}}€</span>
            </div>



        </div>
        <!-- #B37C24 !important -->
        <div fxFlex class="frontpage-content">
            <div *ngIf="currentKellnerInfo.lastBestellungen">
                <mat-card *ngFor="let bestellung of currentKellnerInfo.lastBestellungen; first as isFirst"
                    class="mat-elevation-z4 background-oada" (click)="showBestellungDetails(bestellung)" matRipple>


                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>
                            <span class="time-table-number" style="font-size: 15px;">
                                {{bestellung.uhrzeit | date: 'HH:mm'}} Uhr &nbsp;&nbsp;&nbsp; Tisch:
                                {{bestellung.tischNr}}
                            </span>

                        </mat-card-title>
                        <mat-card-subtitle> <span *ngFor="let debitor of currentDebitoren">
                                <span *ngIf="debitor.guid === bestellung.zahler">
                                    {{debitor.name}}
                                </span>
                            </span>
                        </mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
        </div>

    </div>

</div>

<ng-template #nothingHereYet>
    <div class="lds-hourglass"></div>
</ng-template>
