<h2 mat-dialog-title>Kommentar eingeben</h2>
<mat-dialog-content class="mat-typography">
    <div style="margin-bottom: 10px;">
        1x {{data.element.name}} {{data.element.preis | currency:'EUR'}}
    </div>
    <mat-form-field>
        <input matInput placeholder="Kommentar" [(ngModel)]='data.element.kommentar' autocomplete="off"
            (keyup.enter)="closeKeyboard($event)">
    </mat-form-field>
    <!-- {{data.element | json}} -->
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close="false" (click)="cancelComment()">Abbrechen</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Speichern</button>
</mat-dialog-actions>