.mat-horizontal-content-container{
    height: 100% !important;
    padding: 0 !important;
  }
  .mat-horizontal-stepper-content{
    height: 100%;
    display: flex;
  }

  form {
    width:100%;
  }

  .h-100{
    height:100%;
  }

  .w-100{
    width:100%;
  }

  .padding-content {
    padding: 0 24px 24px 24px;
    margin-top:20px;
  }

  table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0 !important;
  }
  
  .example-element-row td {
    border-bottom-width: 0 !important;
  }
  
  .example-element-detail {
    overflow: hidden !important;
    display: flex !important;
  }
  
  .example-element-description {
    padding: 16px !important;
  }
  

  thead {
    display:none;
  }

  .green-b{
    color: green;
  }

  .red-b{
    color: red;
  }

  .white-color{
    color: white;
  }

  .fs-12{
    font-size:12px !important;
  }

  .tableNumber-commentary-explaination{
    font-size:12px;
    font-style: italic;
  }

  .disabled-tile {
    text-decoration: line-through;
  }

  #targetElement.shrink {
    animation: shrink 1s;
  }
  
  @keyframes shrink {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.8);
    }
  }

  .mat-progress-bar {
    height:12px !important;
  }