<div class="content" fxLayout="column" fxFlexFill>
  <mat-horizontal-stepper fxLayout="column" fxFlex="100" fxLayoutAlign="stretch" [linear]="isLinear" #stepper>
    <mat-step label="Tisch" fxFlex="100" [stepControl]="firstFormGroup">
      <button mat-fab class="mat-fab-position-left" color="warn" [routerLink]="['/home']"
        (click)="bestellungAbbrechen()">
        <mat-icon style="color:black;">clear</mat-icon>
      </button>
      <button mat-fab matStepperNext class="mat-fab-position" color="accent" (click)="addTischNr()">
        <mat-icon>navigate_next</mat-icon>
      </button>
      <div fxLayout="column" class="padding-content">
        <form [formGroup]="firstFormGroup" fxFlex="1 0 auto">
          <mat-form-field>
            <input matInput #tischNrInput maxlength="7" placeholder="Tischnummer" formControlName="tischNr" required
              (keyup.enter)="closeKeyboard($event)">
            <mat-hint>z.B. 15, 100, ...</mat-hint>
            <mat-hint align="end">Max. {{tischNrInput.value?.length || 0}}/7</mat-hint>
            <mat-error *ngIf="firstFormGroup.controls['tischNr'].errors?.required">Bitte geben Sie eine Tischnummer ein!
            </mat-error>
          </mat-form-field>
          <mat-form-field style="margin-top:10px;">
            <input matInput placeholder="Tischkommentar" formControlName="kommentar"
              (keyup.enter)="closeKeyboard($event)">
            <mat-hint>Optional</mat-hint>
          </mat-form-field>
        </form>

        <div fxFlex="8 1 auto" class="container-explaination">
          <p class="tableNumber-commentary-explaination">
            *Bei dem Feld Tischnummer geben Sie bitte die korrekte Nummer des Tisches an, sodass der Zustellkellner den
            richtigen Tisch finden kann.
          </p>
          <p class="tableNumber-commentary-explaination">
            (für gewöhnlich finden sie die Nummer auf oder neben dem Tisch an dem Sie sitzen.)
          </p>
          <p class="tableNumber-commentary-explaination">
            *Bei dem Feld Tischkommentar können Sie ihre Eingabe spezifizieren.
          </p>
        </div>
      </div>

    </mat-step>


    <mat-step label="Bestellung" fxFlex="100" fxLayout="row">
      <div class="content" fxLayout="column" fxFlexFill>
        <!-- BESTELLUNG-TABLE -->
        <mat-progress-bar mode="determinate" [value]="progressbarValue" ></mat-progress-bar>
        
        <div fxFlex="70" style="overflow:auto;" #scrollMe [scrollTop]="scrollDown">
          <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

            <!-- Item Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let gericht"> {{gericht.anzahl}}x {{gericht.name}} </td>
              <!-- <td mat-footer-cell *matFooterCellDef class="bold-font">Gesamt</td> -->
            </ng-container>

            <!-- Kommentar Column -->
            <ng-container matColumnDef="kommentar">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let gericht" style="overflow:hidden; white-space: nowrap;">
                <i color="primary" style="color:brown;">
                  {{ (gericht.kommentar.length>8)? (gericht.kommentar | slice:0:8)+'..':(gericht.kommentar)}}
                </i>
              </td>
              <!-- <td mat-footer-cell *matFooterCellDef></td> -->

            </ng-container>

            <!-- Cost Column -->
            <ng-container matColumnDef="preis">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let gericht" style="text-align:end;">{{gericht.preis | currency:'EUR'}}
                (<span style="text-decoration: underline;">{{gericht.preis * gericht.anzahl | currency:'EUR'}}</span>)</td>
              <!-- <td mat-footer-cell *matFooterCellDef class="bold-font"><span>{{getTotalCost() | currency:'EUR' }}</span> 
              </td>-->
            </ng-container>

            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
              <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                <div class="example-element-detail"
                  [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                  <div fxLayout="row" fxFlexFill>

                    <!-- <mat-form-field>
                        <input matInput placeholder="Kommentar" [(ngModel)]='element.kommentar' [name]='element.name'
                          autocomplete="off" (keyup.enter)="closeKeyboard($event)">
                      </mat-form-field> -->
                    <kommentar-element [element]="element"></kommentar-element>

                    <button mat-icon-button class="green-b" (click)="bestelle(element)">
                      <mat-icon>add_circle</mat-icon>
                    </button>
                    <button mat-icon-button class="red-b" (click)="removeItem(element)">
                      <mat-icon>remove_circle</mat-icon>
                    </button>

                  </div>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row [@fadeSlideInOut]="" *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
              [class.example-expanded-row]="expandedElement === element"
              (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky:true;"></tr> -->

            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
          </table>

        </div>

        <div fxFlex style="margin-top:5px; margin-bottom: 5px; padding: 8px;">
          <swiper>
            <div *ngFor="let tiles of arrOfMenuParts">
              <mat-grid-list cols="3" rowHeight="40px">
                <mat-grid-tile *ngFor="let tile of tiles" colspan=1 rowspan=1 [style.background]="tile.farbe"
                  class="white-color bold-font">
                  <button mat-button *ngIf="tile.name" (click)="bestelle(tile)" class="w-100 h-100 fs-12"
                    [disabled]="tile.gesperrt" [ngClass]="{'disabled-tile': tile.gesperrt}">{{tile.name}}</button>
                </mat-grid-tile>
              </mat-grid-list>
            </div>
          </swiper>
        </div>
        <div fxFlex="10" fxLayout="row" fxLayoutAlign="center center">
          <div fxFlex style="text-align: center; font-size: xx-large;">
            {{getTotalCost() | currency:'EUR' }}
          </div>
        </div>
      </div>

      <button mat-fab matStepperPrevious class="mat-fab-position-left" color="warn">
        <mat-icon style="color:black;">navigate_before</mat-icon>
      </button>
      <!-- (click)="sendBestellung()" -->
      <!-- <button mat-fab class="mat-fab-position" long-press (onLongPress)="onLongPress()"
        (onLongPressing)="onLongPressing()" (click)="showBestellungsInfo()">
        <mat-icon>send</mat-icon>
      </button> -->
      <button mat-fab class="mat-fab-position" long-press (updateLoadingBar)="updateLoadingBar()" (resetLoadingBar)="resetLoadingBar()">
        <mat-icon>send</mat-icon>
      </button>
    </mat-step>



  </mat-horizontal-stepper>

</div>