
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$md-primary: (
    50 : #f6efe5,
    100 : #e8d8bd,
    200 : #d9be92,
    300 : #caa366,
    400 : #be9045,
    500 : #b37c24,
    600 : #ac7420,
    700 : #a3691b,
    800 : #9a5f16,
    900 : #8b4c0d,
    A100 : #ffdabb,
    A200 : #ffbf88,
    A400 : #ffa355,
    A700 : #ff953b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-accent: (
    50 : #e2edf6,
    100 : #b8d2ea,
    200 : #88b4dc,
    300 : #5896cd,
    400 : #3580c3,
    500 : #1169b8,
    600 : #0f61b1,
    700 : #0c56a8,
    800 : #0a4ca0,
    900 : #053b91,
    A100 : #bed3ff,
    A200 : #8bb0ff,
    A400 : #588dff,
    A700 : #3e7cff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$KellnerApp-v2-primary: mat-palette($md-primary);
$KellnerApp-v2-accent: mat-palette($md-accent, A200, A100, A400);

// The warn palette is optional (defaults to red).
$KellnerApp-v2-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$KellnerApp-v2-theme: mat-light-theme($KellnerApp-v2-primary, $KellnerApp-v2-accent, $KellnerApp-v2-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($KellnerApp-v2-theme);

