/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin:0; background-color: whitesmoke; min-height: 450px;}


.mat-fab-position{
    position: absolute !important;
    right:15px;
    bottom:15px;
    z-index: 99;
}

.mat-fab-position-left{
    position: absolute !important;
    left:15px;
    bottom:15px;
    z-index: 99;
}
//----------------------------------*\
// Fonts
//----------------------------------*/
@import 'assets/fonts/fonts';
// primary font
$primary_font: 'Lato';
// font-weight
$thin:100;
$light:300;
$regular:400;
$bold:700;
$black:900;
// Font size
$font-xs:12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 18px;
$font-lg: 20px;

body {
    font-family: $primary_font;
    font-size: $primary-fs;
    font-weight: $regular;
}
@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: $primary_font
);
@include angular-material-typography($custom-typography);


.right-aligned-header > .mat-content {
    justify-content: space-between !important;
}

.mat-content > mat-panel-title, .mat-content > mat-panel-description {
  flex: 0 0 auto !important;
}

mat-form-field{
    width:100%;
}

.success-toast{
    background-color:green !important;
}

.fail-toast{
    background-color:red !important;
}

.md-font{
    font-size:22px;
}

.bold-font {
    font-family: 'Lato-Bold';
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
}

.bold-font-normal {
    font-family: 'Lato-Bold';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
}

.mat-horizontal-stepper-header-container {
    display: none !important;
  }

  .lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: whitesmoke;
  }

  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
    background: #B37C24;
  }

  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    100% {
      transform: rotate(1800deg);
    }
  }

